// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.users-form {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.users-form-button {
  width: 140px;
  font-size: 1em;
  padding-left: 1em;
  padding-right: 1em;
  background-color: rgba(0, 130, 29, 0.7);
  color: white;
  font-weight: 700;
  border: none;
  border-radius: 5px;
}